
.wp-block-columns.are-vertically-aligned-center.is-layout-flex {
    background-color: black !important;
    color: white; 
}


.wp-block-columns.are-vertically-aligned-center.is-layout-flex .wp-block-column {
    background-color: transparent;
}

.wp-block-navigation a,
.wp-block-navigation .wp-block-navigation__container {
    color: white;
}

    .wp-block-navigation__responsive-container-content li:hover{ 
    color: wheat;
}

.wp-block-image.size-full.is-resized {
    background-color: black !important; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    padding: 20px;           
}

.wp-block-image.size-full.is-resized img {
    max-width: 100%;
    height: auto;
}

.wp-block-column.is-vertically-aligned-center.is-layout-flow {
    background-color: black;
    color: white; 
    width: 100%;
}
.wp-block-columns .are-vertically-aligned-center .is-layout-flex {
    background-color: #000;
}
.wc-block-product-template {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    
}

.wp-block-columns.are-vertically-aligned-center.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex .wc-block-product-template__responsive li {
    background-color: whitesmoke;
    text-align: center;
}


.wc-block-product-template__responsive li img {
    max-width: 100%;
    max-height: 200px; 
    border-radius: 5px;
}

.wc-block-product-template__responsive li h3 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.wc-block-product-template__responsive li .wp-block-woocommerce-product-price {
    font-size: 1rem;
    color: #000 !important;
    
}

.wc-block-product-template__responsive li .wp-block-button__link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    
}

.wc-block-product-template__responsive li .wp-block-button__link:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 768px) {
    .wc-block-product-template__responsive li {
        flex: 0 0 100%; 
    }
}

.swiper-slide {
    list-style: none;
    padding: 0;
    margin: 30px; 
    border-radius: 100px; 
    background-color: darkcyan; 
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    
}

.swiper-slide a {
    text-decoration: none;
    color: #fff !important;
    font-size: large;
    display: block; 
    padding: 10px 20px; 
}

.swiper-slide .wc-block-product-categories-list-item-count {
    margin-left: 5px;
    font-size: large;
    color: darkturquoise;
}

.swiper-slide a:hover {
    color: darkturquoise;
}

.swiper-slide:hover {
    background-color: darkviolet;
}

@media only screen and (max-width: 768px) {
    .swiper-slide {
        flex: 0 0 100%;
        margin-bottom: 10px; 
    }
}

ul.wc-block-product-template__responsive li.wc-block-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightslategray; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

ul.wc-block-product-template__responsive li.wc-block-product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   background-color: darkgray; 
}

ul.wc-block-product-template__responsive li.wc-block-product .sp-wps-product-image-area {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

ul.wc-block-product-template__responsive li.wc-block-product .sp-wps-product-image-area a.wps-product-image {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

ul.wc-block-product-template__responsive li.wc-block-product .sp-wps-product-image-area img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

ul.wc-block-product-template__responsive li.wc-block-product .sp-wps-product-image-area a.wps-product-image:hover img {
    transform: scale(1.1);
}

ul.wc-block-product-template__responsive li.wc-block-product .wpsf-product-title h3 {
    font-size: 16px;
    color: #000 !important;
    margin: 10px 0;
    text-align: center;
}
h3 a:hover {
    color: #000 !important;
}

ul.wc-block-product-template__responsive li.wc-block-product .wpsf-product .price {
    font-size: 14px;
    color: #000 !important;
    margin-bottom: 10px;
    text-align: center;
}

ul.wc-block-product-template__responsive li.wc-block-product .wpsf-product .button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000 !important;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul.wc-block-product-template__responsive li.wc-block-product .wpsf-product .button:hover {
    background-color: #0056b3 !important;
}
